  /* Imagen de fondo */
  background-image: url('../img/City_buildings_BW.png'); /* ruta correcta */
  background-size: cover;       /* ocupa todo el espacio */
  background-position: center;  /* centrada */
  background-repeat: no-repeat;



  <div class="tip-section" id="tip-section" style="display:none;">
  <div class="tip-info">
    <h2 id="tip-name"></h2>
    <ul id="tip-list"></ul>
  </div>
  <div class="tip-portrait">
    <img id="tip-image" src="" alt="Render">
  </div>
</div>